/*#region base*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}


button {
    font-family: inherit;
}



/*#endregion base*/

/*#region header*/
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-accent-dark{
    color: #2e2f42;
}


.nav-item-link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404BBF;

}

.nav-item-link:active{
    text-decoration: underline;
}

.nav-contact{
    font-style: normal;
}
.contact-item-link{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-item-link:hover,
.contact-item-link:focus{
    color: #404bbf;
}
/*#endregion*/

  
/*#region main*/
.main-section{
    background-color: #2E2F42;
}

.main-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px; 
    letter-spacing: 0.02em;
    line-height: 1.07;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
/*#endregion*/

/*#region benefits section*/

.benefits-title{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-prgrph{
    letter-spacing: 0.02em;
}

/*#endregion*/

/*#region team section*/
.team-section{
    background-color: #F4F4FD;
}

.team-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
}

.team-card{
    background-color: #fff;

}

.team-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.team-card-prgh{
    font-size: 16px;
    letter-spacing: 0.02em;
}
/*#endregion*/

/*#region portfolio section*/
.portfolio-section{
    background-color: #fff;
}

.portfolio-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
}

.portfolio-card{
    background-color: #FFFFFF;
}

.portfolio-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;

}

.portfolio-card-prgh{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*#endregion*/

/*#region footer*/

.footer{
    background-color: #2E2F42;
}

.footer-paragraph{
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.logo-accent-light{
    color: #f4f4fd;
}

/*#endregion*/

