/*#region base*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


button {
    font-family: inherit;
}

.container { 
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;  
    margin-left: auto; 
    margin-right: auto;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;

}

.visually-hidden{
    
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*#endregion base*/

/*#region header*/
.header{
    border-bottom: 1px solid #e7e9fc;
    max-width: 1440px; 
    margin: 0 auto; 
    width: 100%;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;

}
.nav-style{
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-accent-dark{
    color: #2e2f42;
}

.nav-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-item-link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-item-link.active{
    color: #404BBF; 
    position: relative;
}

.nav-item-link.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: #404bbf;
    height: 4px;
    border-radius: 2px;

}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404BBF;

}


.nav-contact{
    font-style: normal;
    margin-left: auto;

}

.nav-adress-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-item-link{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-link:hover,
.contact-item-link:focus{
    color: #404bbf;
}
/*#endregion*/

  
/*#region main*/
.main-section{
    background-color: #2E2F42; 
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/office-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%; 
    max-width: 1440px; 
    margin: 0 auto;
}

.main-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px; 
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
/*#endregion*/

/*#region benefits section*/
.benefits-section{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;

}

.benefits-item{
    width: calc((100% - 72px) / 4);

}
.benefits-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 24px 100px;
    height: 112px;
}


.benefits-title{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-prgrph{
    letter-spacing: 0.02em;
}

/*#endregion*/

/*#region team section*/
.team-section{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    justify-content: flex-start;
}
.team-card{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-prgh{
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-container{
    padding: 32px 0;
    justify-content: center;
    align-items: center;
    
}

.team-icons-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 8px;

}

.team-icons {
    fill: #F4F4FD;
}

.team-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus{
    background-color: #404bbf;


}
/*#endregion*/

/*#region portfolio section*/
.portfolio-section{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-list{
    display:flex;
    flex-wrap:wrap;
    gap:48px 24px; 
 
}

.portfolio-card{
    background-color: #FFFFFF;
    flex-basis:calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.portfolio-card:focus,
.portfolio-card:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.portfolio-card:hover .overlay-text {
    transform: translateY(0);
}
.portfolio-card:hover .thumb-img {
    opacity: 0; 
}

.thumb {
    position: relative;
    overflow: hidden;
}
.thumb-img{
    display: block;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.overlay-text {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%); 
    background-color: #4d5ae5; 
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    z-index: 2;
}

.portfolio-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;

}

.portfolio-card-prgh{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-container{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc; 

}
/*#endregion*/

/*#region footer*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
    

}

.footer-container{
    
    display: flex;  
    align-items: baseline; 
    justify-content: flex-start;

}
.footer-wrapper{
    margin-right: 120px;
}



.footer-paragraph{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    
}

.logo-accent-light{
    color: #f4f4fd;
}

.footer .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.container-social-media{
   display: flex;
   flex-direction: column;
   margin-right: 80px;


}

.footer-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon-link:focus,
.footer-icon-link:hover{
    background-color: #31d0aa;
}

.footer-icons-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-icons-container {
    display: flex;
    gap: 16px;
}

.footer-icons {
    fill: #F4F4FD;
}

.container-subscribe {
}

.subscribe-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-form {
    display: flex;
    align-items: flex-end;
}


.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: inherit;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: auto;
}
.footer-button {
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    margin-left: 24px;
    cursor: pointer;
}

.footer-button:hover,
.footer-button:focus{
    background-color: #404BBF;
}

.icon-send{
    fill: #FFFFFF;
}
/*#endregion*/

/*#region modal*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 99999;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;


}


.modal {
    position: absolute;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px;
    
}



.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}
.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.button-close:hover,
.button-close:focus,
.close-icon:hover,
.close-icon:focus{
    background-color: #404BBF;
    fill: #fff;
}


.close-icon{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
    margin-bottom: 8px;
}
.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form-input:focus{
    border: 1px solid #4d5ae5;
}

.form-input:focus+ .form-icon{
    fill: #4d5ae5 ;
}
.form-icon {
    fill: #2e2f42;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 19px; 
    transform: translateY(-50%);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-icon-wrapper{
    position: relative;
} 

.form-textarea{
    min-height: 120px;
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    resize: none;
    padding: 8px 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus{
    border: 1px solid #4d5ae5;
}

.form-textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.form-checkbox{
    margin-top: 16px;
}

.input-checkbox {
}

.input-checkbox:checked + .label-checkbox 
.custom-checkbox{
    border: transparent;
    background-color: #404BBF;
    fill: #fff;
    
}

.label-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox-icon {
}

.form-checkbox-accent{
    color: #4d5ae5;
}

.custom-checkbox{
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;


}

.modal-button {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
}
/*#endregion */