/*#region base*/
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


button {
    font-family: inherit;
}

.container { 
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;  
    margin-left: auto; 
    margin-right: auto;
    }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;

}

.visually-hidden{
    
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*#endregion base*/

/*#region header*/
.header-container {
    display: flex;
    align-items: center;

}
.nav-style{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-accent-dark{
    color: #2e2f42;
}

.nav-section{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-item-link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;

}

.nav-item-link:hover,
.nav-item-link:focus{
    color: #404BBF;

}

.nav-item-link:active{
    text-decoration: underline;
}

.nav-contact{
    font-style: normal;
    margin-left: auto;

}

.nav-adress-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.contact-item-link{
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-item-link:hover,
.contact-item-link:focus{
    color: #404bbf;
}
/*#endregion*/

  
/*#region main*/
.main-section{
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title{
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px; 
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin-top: 48px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}
/*#endregion*/

/*#region benefits section*/
.benefits-section{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.benefits-list{
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;

}

.benefits-item{
    width: calc((100% - 72px) / 4);

}
.benefits-title{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.benefits-prgrph{
    letter-spacing: 0.02em;
}

/*#endregion*/

/*#region team section*/
.team-section{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.team-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    justify-content: flex-start;
}
.team-card{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 8px;
}

.team-card-prgh{
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;

}

.team-container{
    padding: 32px 16px;
    justify-content: center;
    align-items: center;
    
}
/*#endregion*/

/*#region portfolio section*/
.portfolio-section{
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title{
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-list{
    display:flex;
    flex-wrap:wrap;
    gap:48px 24px; 
 
}

.portfolio-card{
    background-color: #FFFFFF;
    flex-basis:calc((100% - 2 * 24px) / 3);
}

.portfolio-card-name{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;

}

.portfolio-card-prgh{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-container{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc; 

}
/*#endregion*/

/*#region footer*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-paragraph{
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    
}

.logo-accent-light{
    color: #f4f4fd;
}

.footer .logo{
    display: inline-block;
    margin-bottom: 16px;
}

/*#endregion*/

